.navbar {
	text-align: center;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	margin-left: 70%;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	display: block;
	padding: 1em 1em;
	color: #efefef;
}

.navbar a.is-current {
	color: black;
	background-color: #FFAE19;
}

.navbar li:hover {
	color: #fff;
	background-color: #FFAE19;
}

@media (max-width: 640px) {
	.navbar li {
		display: block;
	}
	.navbar {
		margin-top: 30px;
	}
}

.navbar {
	background-color: rgba(0,0,75,.95);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}
