.navbar {
	text-align: center;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.navbar li {
	display: inline-block;
}

.navbar a {
	text-decoration: none;
	display: block;
	border: 1px solid #000;
	padding: 0.5em 0.3em;
}

.navbar a.is-current {
	color: #ddd;
	background-color: #aaa;
}

.navbar li:hover {
	color: #fff;
	background-color: #000;
}

@media (max-width: 640px) {
	.navbar li {
		display: block;
	}
	.navbar {
		margin-top: 30px;
	}
}
