body {
	margin: 0;
	padding: 0;
}

figure {
	float: right;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 2em;
	display: grid;
}

@media (max-width: 640px) {
	.container {
		display: block;
	}
}
