body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

figure {
	float: right;
}

img {
	max-height: 133px;
	width: auto;
}

header h1 a {
	text-decoration: none;
	font-size: 1.5em;
}

h1 {
	font-family: "Ewert", cursive;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding: 2em;
}

/* template for CSS Grid layout */
/* .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "";
}

.header {
	grid-area: header;
}

.navbar {
	grid-area: navbar;
}

.about {
	grid-area: about;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer; 
} */

@media (max-width: 640px) {
}
