#nav {
width:750px;
margin:0 auto;
list-style:none;
}

#nav li {
float:left;
text-decoration-color: #696969
}

#nav a {
display:block;
color: #696969;
text-align:center;
width:150px;
text-decoration:none; 
}

#nav a:hover {
	color: white;
}

.is-current {
 	background-color: #F0FFFF;
	color: #696969;
}


