
.menu ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0; 
}
.menu li { 
	display: inline-block;
}


.menu { 
	text-align: center; 
}

.menu a { 
	text-decoration: none;
	color: #EBBAB9 ;
	background-color: #CED3DC;
	display: block;
	border-radius: 8px;
	padding: 5px 20px;
}

.menu a:hover {
	color: #521945; 
	background-color: #dddddd;
}
.menu a.is-current {
	color: #EBBAB9; 
	background-color: #87A0B2;
}

@media(max-width:800px){
	.menu li {
		display: block;
	}
	.menu {
		margin-top: 30px;
	}
}
