.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
}

.grid-container{
	display: grid;
	grid-gap: 20px;
}

.titles {
	text-align: center;
	text-shadow: 2px 2px #EBBAB9;
}

.home {
	color: #3F4045;
	background-color: #CED3DC;
	background: linear-gradient(#FCFCFC, #87A0B2);
	font-family: "Comic Sans MS", georgia, garamond;
	vertical-align: top;
}

.home h2, h1 {
	text-shadow: 1px 1px #EBBAB9
}

.amber {
	color: #3F4045;
	background-color: #CED3DC;
	font-family: "Comic Sans MS", georgia, garamond;
	background: linear-gradient(#87A0B2, #FCFCFC);
}

.amber h1 {
	text-shadow: 1px 1px #EBBAB9
}

.ana {
	color: #3F4045;
	background-color: #CED3DC;
	font-family: "Comic Sans MS", georgia, garamond;
	background: linear-gradient(#87A0B2, #FCFCFC);
}

.ana h1 {
	text-shadow: 1px 1px #EBBAB9
}

.meghan {
	color: #3F4045;
	background-color: #CED3DC;
	font-family: "Comic Sans MS", georgia, garamond;
	background: linear-gradient(#87A0B2, #FCFCFC);
}

.meghan h1 {
	text-shadow: 1px 1px #EBBAB9
}

@media (max-width: 700px){
		.container {
		display: block;
		}
}

header, footer{
	grid-column: 1/2;
	background-color: #996888; 
	border-radius: 10px;
	border: 2px groove #5E4955;
	margin-left: -35px;
	margin-right: -35px;
}

.titles { 
		color: #5E324B;
		text-align: center;
		font-size: 20px;
	}

footer {
	text-align: center;
}


nav {
	grid-column: 1/2;
}

.subtitle { 
	font-size: 20px;
	margin-top: 0px;
	font-style: italic
}

h1 {
	border-bottom: 1px solid;
	margin-top: 10px;
	margin-bottom: 5px
}


.images { 
	border: #EBBAB9;
    display: block;
    margin: auto;
}

.firstfig, figure {
    align-content: center;
	margin: auto;
	padding: 8px 8px 8px 20px;
	float: right;
	margin-left: 20px;
}

figcaption {
	text-align: center;
	font-style: italic;
}


h2 { 
	border-radius: 10px;
	margin-bottom: 1px;
	padding-left: 20px;
	color: #3F4045;
}

h3{
	margin-left: 20px;
}

.lists {
	color: #EBBAB9;
	margin-top: 5px;
	margin-bottom: 5px
}


p { 	
		margin-top: 0px
}


p:nth-child(3n) {
    	margin-bottom: 40px
}


ul, ol{ 	
		padding-left: 40px;
		color: black;
}


a {
    	color: white;
    	text-decoration: none;
}
a:hover{
	color: #EBBAB9;
}